{% extends 'base.html'%}
{% load static from staticfiles %}
{% load news %}
{% block titlepage %} {{ news.title }} {% endblock %}
{% block slidermenu%}
    <li class="news-slider">
        <ul class="example-orbit-content" data-orbit data-options="
            pause_on_hover:false;
            slide_number_text:de;
            timer_show_progress_bar: false;
            bullets: false;
            slide_number: false">
            <li data-orbit-slide="headline-1">
                <div>
                    <a class="news-title" href="index.html">
                        <time datetime="2014-04-29 01:38:53">12:01 AM ET</time>
                        <h2>Subheadline</h2>
                    </a>
                    <a class="gn-icon-other nopadding gn-icon-facebook"></a>
                    <a class="gn-icon-other nopadding gn-icon-twitter"></a>
                </div>
            </li>
            <li data-orbit-slide="headline-2">
                <div>
                    <a class="news-title" href="index.html">
                        <time datetime="2014-04-29 01:38:53">15:01 AM ET</time>
                        <h2>Subheadline</h2>
                    </a>
                    <a class="gn-icon-other nopadding gn-icon-facebook"></a>
                    <a class="gn-icon-other nopadding gn-icon-twitter"></a>
                </div>
            </li>
            <li data-orbit-slide="headline-3">
                <div>
                    <a class="news-title" href="index.html">
                        <time datetime="2014-04-29 01:38:53">12:30 AM ET</time>
                        <h2>Subheadline</h2>
                    </a>
                    <a class="gn-icon-other nopadding gn-icon-facebook"></a>
                    <a class="gn-icon-other nopadding gn-icon-twitter"></a>
                </div>
            </li>
        </ul>
    </li>
{% endblock %}
{% block leftcontent %}{% endblock %}
{% block newscontent %}
    <article class="row articles-news">
        <header>
            <!-- Cabezera del articulo -->
            <div>
                <h2><a href="">{{ news.topic }}</a></h2><h3><a href="">{{ news.subtopic }}</a></h3>
            </div>
            <h1 class="text-justify">{{ news.title }}</h1>
            <div class="row">
                <div class="large-9 columns">
                    <time datetime="{{ news.dateTime|date:'Y-m-d H:i:s' }}">{{ news.dateTime|date:'h:i a, l j \d\e F \d\e Y' }}</time>
                    <h3 class="divider-right">{{ news.place }}</h3>
                    <h2><a href="">{{ news.author.first_name }} {{ news.author.last_name }}</a></h2>
                    <h3>{{ news.author.link_own|urlize }}</h3>
                </div>
                <div class="large-3 columns social-media">
                    <a class="gn-icon-other gn-icon-twitter"></a>
                    <a class="gn-icon-other gn-icon-googleplus"></a>
                    <a class="gn-icon-other gn-icon-facebook"></a>
                    <a class="gn-icon-other gn-icon-mail "></a>
                </div>
            </div>
        </header>
        <section class="row">
            <figure>
                {% if newsimages.all  %}
                    {% for image in newsimages.all %}
                        <img src="{{ MEDIA_URL }}{{image.image}} " title="{{ image.name }}" alt="{{ image.name }}"/>
                        <figcaption>{{ image.caption }}</figcaption>
                    {% endfor%}
                {% endif %}
            </figure>
            <h2 class="review text-justify">{{ news.content|search:'^.*' }}</h2>
            <aside>
                <h2>Recomendados</h2>
            </aside>
            {{ news.content|sub:'^.*\n+'|linebreaks }}
            <p> {% if news.keyword.all %}
                    {% for keyword in news.keyword.all %}
                        <a href="">{{ keyword.name }}   </a>,
                    {% endfor %}
                {% else %}
                    <a href="">Tiempo Turco</a>
                {% endif %}
            </p>
            <p>[{{ news.source|urlize }}] <span class="gn-icon-other gn-icon-checkbox-partial"></span></p>
        </section>
        <footer  class="row">
            <div class="large-6 columns">
                <a class="gn-icon-other gn-icon-mail"></a>
                <a class="gn-icon-other gn-icon-facebook"></a>
                <a class="gn-icon-other gn-icon-googleplus"></a>
                <a class="gn-icon-other gn-icon-twitter divider-right"></a>
                <a class="gn-icon-other gn-icon-bubble">#</a>
            </div>
            <div class="large-4 columns text-right">
                <a class="gn-icon-other gn-icon-link divider-left a-link-text">http://ti.me/1jOHrVE</a>
            </div>
        </footer>
    </article>

{% endblock %}