<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Autor</title>
</head>
<body>
    <section>
       <p>Nombre: {{author.first_name}}</p>
       <p>Apellidos: {{author.last_name}}</p>
       <p>Descripsion: {{author.biography}}</p>
       <p>Edad: {{author.age}}</p>
       <p>Enlace: {{author.link_own}}</p>
        //Si quiero traer propiedades de un objeto, como por ejemplo en la noticia, traer el enlace de un author, simplemente le pongo new.author.link_own
        // Tambien puedo convertir esto en una variable, por ejemplo link = new.author.link_own, y luego en el diccionario de datos poner 'link': link, y aqui poner simplemente  {{link}} y da el mismo resultado
        <p></p>
       <p></p>
       <p></p>

    </section>
</body>
</html>