/*
Syntax error: Invalid UTF-8 character "\xC3"
        on line 5 of /home/tulipan/Proyectos/IspanyolHaber/tiempoTurco/statics/static_only/tiempo_turco/scss/app.scss

1: /home/tulipan/Proyectos/IspanyolHaber/tiempoTurco/statics/static_only/tiempo_turco/scss/app.scss

Backtrace:
/home/tulipan/Proyectos/IspanyolHaber/tiempoTurco/statics/static_only/tiempo_turco/scss/app.scss:5
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:373:in `block in check_encoding!'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/util.rb:604:in `rescue in block in check_encoding'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/util.rb:601:in `block in check_encoding'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/util.rb:600:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/util.rb:600:in `each_with_index'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/util.rb:600:in `check_encoding'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/util.rb:654:in `check_sass_encoding'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:372:in `check_encoding!'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:339:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:147:in `recompile'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:68:in `perform'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.9.1/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.9.1/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/1.9.1/gems/compass-0.12.6/bin/compass:44:in `call'
/var/lib/gems/1.9.1/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid UTF-8 character \"\xC3\"\A         on line 5 of /home/tulipan/Proyectos/IspanyolHaber/tiempoTurco/statics/static_only/tiempo_turco/scss/app.scss\A \A 1: /home/tulipan/Proyectos/IspanyolHaber/tiempoTurco/statics/static_only/tiempo_turco/scss/app.scss"; }
